[flake8]
# Some lines in the cli module are long by necessity since they are help lines
# In any case, black always formats to a line-length of 88 cols
ignore = W503,E501
exclude =
    .git,
    __pycache__,
    build,
    .eggs,
    anitune.egg-info,
    docs
