#!/bin/bash
#SBATCH --job-name={{ name }}
#SBATCH --output={{ name }}.out
#SBATCH --gres=gpu:{{ gpu }}
#SBATCH --time=120:00:00
#SBATCH --nodes=1
#SBATCH --ntasks=1
#SBATCH --ntasks-per-node=1
#SBATCH --cpus-per-task=2

source /home/ipickering/Conda/etc/profile.d/conda.sh
source /home/ipickering/Conda/etc/profile.d/mamba.sh
mamba activate anitune

anitune {{ args }}
